<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Bảng Hóa Đơn Đang Giao Hàng</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>STT</th>
            <th (click)="sortBy('id')">Mã hóa đơn</th>
            <th (click)="sortBy('orderDate')">Ngày Đặt Hàng</th>
            <th (click)="sortBy('status')">Trạng thái</th>
            <th>Tên người đặt</th>
            <th>Thao tác</th>
            <th>Xác nhận</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredItems | slice: begin : begin + pageSize; let i = index">
            <td>{{ i + 1 + begin }}</td>
            <td>{{ item.id }}</td>
            <td>{{ getFormattedDate(item.orderDate) }}</td>

            <td>{{ item.status }}</td>
            <td>{{ item.user?.name }}</td>
            <td><button class="btn btn-info" (click)="edit(item.id)">Xem</button></td>
            <td><button class="btn btn-success" (click)="update(item.id)">Hoàn thành</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <div class="mt-3">
      <button (click)="first()">First</button>
      <button (click)="prev()">Prev</button>
      <span>{{ currentPage }} of {{ pageCount }}</span>
      <button (click)="next()">Next</button>
      <button (click)="last()">Last</button>
    </div>
  </div>
  