<div class="container">
    <h2>Thêm mới đặc trưng</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/distinctives">Quản Lý Đặc Trưng</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thêm Đặc Trưng</li>
      </ol>
    </nav>
    <form (ngSubmit)="createDistinctive()">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" id="id" class="form-control" [(ngModel)]="distinctive.id" name="id" required />
      </div>
  
      <div class="form-group">
        <label for="name">Tên đặc điểm</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="distinctive.name" name="name" required />
      </div>
  
      <button type="submit" class="btn btn-primary">Tạo đặc điểm</button>
    </form>
  </div>
  