<div class="auth-wrapper">
	<div class="auth-content">
		<div class="auth-bg">
			<span class="r"></span> <span class="r s"></span> <span class="r s"></span>
			<span class="r"></span>
		</div>
		<div class="card">
			<div class="card-body text-center">
				<form [formGroup]="form" (ngSubmit)="onSubmit()">
			
				<div class="mb-4">
					<i class="feather icon-unlock auth-icon"></i>
				</div>
				<h3 class="mb-4">Login</h3>
				<div class="text-center mb-3"><span class="text-danger" [innerHTML]="errorMessage"></span></div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="ID" formControlName="uname"/>
				</div>
				<div class="input-group mb-4">
					<input type="password" class="form-control" placeholder="Password" formControlName="password" />
				</div>
				<div class="form-group text-start mb-4">
					<div class="checkbox checkbox-fill d-inline">
						<input type="checkbox" name="checkbox-fill-1"
							id="checkbox-fill-a1" checked="" /> <label
							for="checkbox-fill-a1" class="cr">Save Details</label>
					</div>
				</div>
				<button class="btn btn-primary mb-4" type="submit" [disabled]="!form.valid">Login</button>
				<!-- <p class="mb-2 text-muted">
					Forgot password? <a [routerLink]="['/auth/reset-password']">Reset</a>
				</p> -->
			</form>
			</div>
		</div>
	</div>
</div>
