<div class="row">
	<div class="row">
		<div class="col-md-4">
		  <div class="card-stat bg-blue">
			<div class="header">
			  <span>Tổng sản phẩm</span>
			  <!-- <button class="btn-detail">View Detail</button> -->
			</div>
			<div class="body">
			  <h2>{{ stats.productCount }}</h2>
			</div>
		  </div>
		</div>
	  
		<div class="col-md-4">
		  <div class="card-stat bg-orange">
			<div class="header">
			  <span>Tổng tài khoản</span>
			  <!-- <button class="btn-detail">View Detail</button> -->
			</div>
			<div class="body">
			  <h2>{{ stats.userCount }}</h2>
			</div>
		  </div>
		</div>
	  
		<div class="col-md-4">
		  <div class="card-stat bg-green">
			<div class="header">
			  <span>Tổng danh mục</span>
			  <!-- <button class="btn-detail">View Detail</button> -->
			</div>
			<div class="body">
			  <h2>{{ stats.categoryCount }}</h2>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="chart-card">
		<ngx-charts-bar-vertical
		  [view]="view"
		  [scheme]="colorScheme"
		  [results]="salesData"
		  [gradient]="gradient"
		  [xAxis]="showXAxis"
		  [yAxis]="showYAxis"
		  [legend]="showLegend"
		  [showXAxisLabel]="showXAxisLabel"
		  [xAxisLabel]="xAxisLabel"
		  [showYAxisLabel]="showYAxisLabel"
		  [yAxisLabel]="yAxisLabel">
		</ngx-charts-bar-vertical>
	  </div>
	  

	  <div class="chart-card">
		<ngx-charts-bar-vertical
		  [view]="view1"
		  [scheme]="colorScheme1"
		  [results]="salesData1"
		  [gradient]="gradient1"
		  [xAxis]="showXAxis1"
		  [yAxis]="showYAxis1"
		  [legend]="showLegend1"
		  [showXAxisLabel]="showXAxisLabel1"
		  [xAxisLabel]="xAxisLabel1"
		  [showYAxisLabel]="showYAxisLabel1"
		  [yAxisLabel]="yAxisLabel1">
		</ngx-charts-bar-vertical>
	  </div>
	  
</div>