<div class="container mt-4">
  <h2>Chỉnh sửa danh mục</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/categories">Quản Lý Danh Mục</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sửa Thông Tin</li>
    </ol>
  </nav>
  <!-- Hiển thị lỗi nếu có -->
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <form (ngSubmit)="updateCategory()">
    <div class="form-group">
      <label for="id">ID</label>
      <input id="id" type="text" class="form-control" [(ngModel)]="category.id" name="id" disabled />
    </div>
    <div class="form-group">
      <label for="name">Tên danh mục</label>
      <input id="name" type="text" class="form-control" [(ngModel)]="category.name" name="name" required />
    </div>
    <div class="form-group">
      <label for="description">Mô tả</label>
      <textarea id="description" class="form-control" [(ngModel)]="category.description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="isHot">Nổi bật? </label>
      <input id="isHot" type="checkbox" [(ngModel)]="category.isHot" name="isHot" class="form-check-input" />
    </div>
    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
  </form>
</div>
