<div class="container">
  <h2>Danh sách thương hiệu</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/brands">Quản Lý Brand</a></li>
      <li class="breadcrumb-item active" aria-current="page">Danh Sách</li>
    </ol>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td>{{ brand.id }}</td>
        <td>{{ brand.name }}</td>
        <td>{{ brand.phoneNumber }}</td>
        <td>{{ brand.email }}</td>
        <td>{{ brand.address }}</td>
        <td>
          <button class="btn btn-success btn-sm " (click)="editBrand(brand.id)">Sửa</button>
          <button class="btn btn-danger btn-sm" (click)="deleteBrand(brand.id)">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Phân trang -->
<div class="d-flex justify-content-between align-items-center mt-3">
  <div>
    Hiển thị {{ startDisplay }} - {{ endDisplay }} trên tổng số {{ totalBrands }} thương hiệu
  </div>

  <nav>
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
          Trước
        </button>
      </li>

      <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
        <button class="page-link" (click)="changePage(page)">
          {{ page }}
        </button>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
          Sau
        </button>
      </li>
    </ul>
  </nav>
</div>
</div>
