<div class="container">
  <h2>Thêm mới thương hiệu</h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/brands">Quản Lý Brand</a></li>
      <li class="breadcrumb-item active" aria-current="page">Thêm Brand</li>
    </ol>
  </nav>
  <form (ngSubmit)="createBrand()">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" id="id" class="form-control" [(ngModel)]="brand.id" name="id" required />
    </div>

    <div class="form-group">
      <label for="name">Tên thương hiệu</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="brand.name" name="name" required />
    </div>

    <div class="form-group">
      <label for="phoneNumber">Số điện thoại</label>
      <input type="text" id="phoneNumber" class="form-control" [(ngModel)]="brand.phoneNumber" name="phoneNumber" required />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="brand.email" name="email" required />
    </div>

    <div class="form-group">
      <label for="address">Địa chỉ</label>
      <input type="text" id="address" class="form-control" [(ngModel)]="brand.address" name="address" required />
    </div>

    <button type="submit" class="btn btn-primary">Tạo thương hiệu</button>
  </form>
</div>
