<!-- <div *ngIf="loading" class="alert alert-info" role="alert">
  Đang tải dữ liệu...
</div>

<div *ngIf="!loading && products.length === 0" class="alert alert-warning" role="alert">
  Không có sản phẩm nào!
</div> -->

<table *ngIf="!loading && products.length > 0" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Số lượng</th>
      <th>Giá</th>
      <th>Trạng thái</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price | currency }}</td>
      <td>
        {{ product.status }}
      </td>
      <td>
        <!-- Nút Xóa -->
        <button (click)="deleteProduct(product.id)" class="btn btn-danger">Xóa</button>
        
        <!-- Nút Sửa -->
        <button (click)="editProduct(product.id)" class="btn btn-warning ml-2">Sửa</button>
      </td>
    </tr>
  </tbody>
</table>
