<form>
    <div>
      <label for="id">ID:</label>
      <input id="id" [(ngModel)]="product.id" name="id" required disabled />
    </div>
    
    <div>
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="product.name" name="name" required />
    </div>
    
    <div>
      <label for="quantity">Quantity:</label>
      <input id="quantity" [(ngModel)]="product.quantity" name="quantity" type="number" required />
    </div>
    
    <div>
      <label for="price">Price:</label>
      <input id="price" [(ngModel)]="product.price" name="price" type="number" required />
    </div>
    
    <div>
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="product.description" name="description"></textarea>
    </div>
    
    <div>
      <label for="status">Status:</label>
      <input id="status" [(ngModel)]="product.status" name="status" />
    </div>
    
    <div>
      <label for="image1">Image 1:</label>
      <input id="image1" [(ngModel)]="product.image1" name="image1" type="file" />
    </div>
    
    <div>
      <label for="image2">Image 2:</label>
      <input id="image2" [(ngModel)]="product.image2" name="image2" type="file" />
    </div>
  </form>
  