<form>
  <h2>Chỉnh sửa sản phẩm</h2>

  <div class="mb-3">
    <label for="id" class="form-label">ID:</label>
    <input id="id" [(ngModel)]="product.id" name="id" class="form-control" required readonly />
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Tên sản phẩm:</label>
    <input id="name" [(ngModel)]="product.name" name="name" class="form-control" required />
  </div>

  <div class="mb-3">
    <label for="quantity" class="form-label">Số lượng:</label>
    <input id="quantity" [(ngModel)]="product.quantity" name="quantity" type="number" class="form-control" required />
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Giá:</label>
    <input id="price" [(ngModel)]="product.price" name="price" type="number" class="form-control" required />
  </div>

     <!-- Description Field (CKEditor) -->
     <div class="mb-3">
      <label for="description" class="form-label">Mô tả:</label>
      <ckeditor
        [(ngModel)]="product.description"
        name="description"
        class="form-control"
        [editor]="Editor"
        [config]="editorConfig">
      </ckeditor>
    </div>


  <div class="mb-3">
    <label for="category" class="form-label">Danh mục:</label>
    <select id="category" [(ngModel)]="product.category" name="category" class="form-control" required>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="distinctives" class="form-label">Distinctives:</label>
    <select id="distinctives" [(ngModel)]="product.distinctiveIds" name="distinctiveId" class="form-control">
      <option *ngFor="let distinctive of distinctives" [value]="distinctive.id">{{ distinctive.name }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="status" class="form-label">Trạng thái:</label>
    <select id="status" [(ngModel)]="product.status" name="status" class="form-control" required>
      <option [value]="1">Còn hàng</option>
      <option [value]="0">Hết hàng</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="image1" class="form-label">Hình ảnh 1:</label>
    <input id="image1" type="file" class="form-control" (change)="onFileChange($event, 'image1')" />
    <div *ngIf="product.image1">
      <img [src]="product.image1" alt="Image 1" width="100" />
    </div>
  </div>

  <div class="mb-3">
    <label for="image2" class="form-label">Hình ảnh 2:</label>
    <input id="image2" type="file" class="form-control" (change)="onFileChange($event, 'image2')" />
    <div *ngIf="product.image2">
      <img [src]="product.image2" alt="Image 2" width="100" />
    </div>
  </div>

  <div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="updateProduct()">Cập nhật sản phẩm</button>
  </div>
</form>
